[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown = "*"
pygments = "*"
pillow = "*"
django-admin-material = "*"
django-imagekit = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
