
<!DOCTYPE html>
<html>
	<!-- 
		reference: http://www.jackslab.org/aboutme/
		need a model (Profile) to load this information dynamically
	-->
    <head>
        <meta charset="UTF-8">
        <title>Jack Tan</title>
        <meta name="description" content="I'm Jack Tan (Tan, Dajie), Geek">
        <meta name="author" content="Jack Tan">
		
        <link href='http://jackslab.org/aboutme/fonts' rel='stylesheet' type='text/css' />
        <link href='style.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div class='container'>
			<div id="chart_div" style="height: 460px;background-image:url(head.jpg);"></div>
            <div class='content'>

                <p class='cathegory'>About Jack</p>
                <p class='presentation'>The owner of the Jack's Lab is Jack Tan（谭大杰）, a Programmer, HAM (call sigh is BH1RBH) and Geeker.</p>
                <p class='presentation'>He work with GNU/Linux, Vim, GNU Toolchain and Mutt. Some of his work experience and personal projects can be found here.</p>
				<p class='presentation'>He has 8+ years Linux kernel experience (Related to Architecture)
				<p class='presentation'>Proficient in the MIPS Architecture, basic knowledge of ARM, PowerPC, SPARC, x86, xtensa</p>
				<p class='presentation'>Experience of Arduino, Rasperberry Pi, ESP8266/8285/ESP32, AVR, C51...</p>
				<p class='presentation'>Multi architecture assembly language, instruction level debuging</p>
				<p class='presentation'>Strong learning, analytical and problem-solving skills</p>

                <p class='cathegory'>Experience</p>
                <ul class='project_list'>
                    <li class='projects_item'>
                    <span class='project_title'>Co-founder of noduino.org (2014/10 - present), </span>
                        <span class='projects_item_description'>
							<p>noduino.org is a a prototype-to-production platform for developing an IoT product of smart home ASAP.</p>
							<p>Homepage: <a href=http://noduino.org>http://noduino.org</a></p>
							<p>Github: <a href=https://github.com/icamgo>https://github.com/icamgo</a></p>
						</span>
					</li>
                    <li class='projects_item'>
                    <span class='project_title'>BSP Engneer @ Wind River Systems(Intel, 2007/10 - 2014/10), </span>
                        <span class='projects_item_description'>

							<p>Specialize in Linux BSP development include porting kernel(arch and drivers). keep the kernel up to date.</p>
							<p>Platform: RMI XLP964/XLP832/XLP206/XLR732/XLS416, Cavium Octeon CN38xx/CN56xx/CN58xx, NEC EMMA3P, Freescale P50xx/MPC830x, SUN CP3220...</p>
							<p>Driver: WiFi, SPI, CAN, I2C, UART, RTC, Ethernet, PCI...</p>
							<p>System Virtualization. Porting the Guest OS for WindRiver Hypervisor.</p>
							<p>Kernel Bug fix, relate to MIPS, PowerPC and x86</p>
							<p>You can use this tech blog to learn more: <a href=http://wiki.jackslab.org target=_blank>http://hi.baidu.com/comcat</a></p>

                        </span>
                    </li>

                    <li class='projects_item'>
                    <span class='project_title'>Software Engneer @ SWHSS (2005/07 - 2007/10)</span>
                        <span class='projects_item_description'>

							<p>Developing Linux Distribution (RAYS LX). Including Basic system configuration program, Installer program...</p>
							<p>Port the kernel 2.6.17 to MIPS/Godson2/Loongson2, improving MMU management, interrupt management.</p>
							<p>Add the Oprofile support of MIPS/Godson2/Loongson2, including kernel patch and user space patch.</p>
							<p>In charge of MPEG2/4, H.264 performace analysis and optimization on MIPS/Linux (Using Godson SIMD instruction) Team Leader (include training team member, assigning task and controlling progress)</p>
							<p>You can use this tech blog to learn more: <a href=http://blog.csdn.net/comcat target=_blank>http://blog.csdn.net/comcat</a></p>

                        </span>
                    </li>
				</ul>

                <p class='cathegory'>Projects</p>
                <ul class='project_list'>

                    <li class='projects_item'>
                    <span class='project_title'>Open MiWiFi: a freedom core system of Xiaomi Router R1D</span>
                        <span class='project_link'>

                            <a href="http://www.jackslab.org/?portfolio=小米路由系统开源版本" target=_blank>Project</a>&nbsp;
                            <a href="https://github.com/comcat/miwifi" target=_blank>Github</a>

                        </span>
                        <span class='projects_item_description'>

							<p></p>
							<p>Tech Points: Embeded System, Linux Kernel, BSP, ARM, WiFi, OpenWRT</p>
                        </span>
                    </li>

                    <li class='projects_item'>
                    <span class='project_title'>EPRS: an Emergence Position Report System</span>
                        <span class='project_link'>

                            <a href="http://www.jackslab.org/?portfolio=%E7%B4%A7%E6%80%A5%E6%83%85%E5%86%B5%E4%BD%8D%E7%BD%AE%E6%8A%A5%E5%91%8A%E7%B3%BB%E7%BB%9F-eprs" target=_blank>Project</a>&nbsp;
                            <a href="http://eprs.jackslab.org" target=_blank>Monitor</a>

                        </span>
                        <span class='projects_item_description'>

                            <p>EPRS is an Emergence Positon Report System. You can use your Isatphone(Satellite phone) to report your position(via SMS) when you meet emergence situation. You can also use APRS Radio, GSM/CDMA/3G SMS and GPRS to report your Position.</p>

							<p>Tech Points: Satellite interface, SMS gateway, APRS monitor, Embeded System, Perl, PHP, Javascript, MySQL</p>
                        </span>
                    </li>

                    <li class='projects_item'>
                    <span class='project_title'>oRadio: an Open SDR Radio Box</span>
                        <span class='project_link'>

                            <a href="http://www.jackslab.org/?portfolio=oradio-%E6%8E%A2%E7%B4%A2%E6%97%A0%E7%BA%BF%E7%94%B5%E4%B8%96%E7%95%8C%E7%9A%84%E5%B0%8F%E9%AD%94%E7%9B%92" target=_blank>Project</a>&nbsp;
                            <a href="http://aprs.fi/#!mt=roadmap&z=11&call=a%2FBH1RBH-10" target=_blank>Monitor</a>

                        </span>
                        <span class='projects_item_description'>

                            <p>You can use this box as an ADS-B decoder or an APRS base station.</p>

							<p>Tech Points: Embeded System, ARM, Debian, SDR, APRS, ADS-B</p>
                        </span>
                    </li>
                </ul>

                <p class='cathegory'>Education</p>
                <ul class='project_list'>
                    <li class='projects_item'>
                    <span class='project_title'>Nanjing University of Technology (2001/09 - 2005/06) </span>
                        <span class='projects_item_description'>
							<p>Bachelor of Applied Chemistry, July, 2005 </p>
						</span>
					</li>
				</ul>

                <p class='cathegory'>Links</p>
                <div class='link_list'>
                    <a href="http://jackslab.org/people/comcat" target=_blank><img src="doc.jpg" alt="Tech Doc written by Jack" /></a>
                    <a href="http://github.com/comcat" target=_blank><img src="github.png" alt="Jack on github" /></a>
                    <a href="http://weibo.com/comcat" target=_blank><img src="weibo.png" alt="Jack on Sina Weibo" /></a>
                    <a href="http://comcat.lofter.com" target=_blank><img src="lofter.png" alt="Jack's Lofter" /></a>
                </div>
            </div>

<div class='footer'>Copyright © <a href="mailto:jiankemeng@gmail.com">Jack Tan</a> - <a href="http://weibo.com/comcat">@comcat</a> All rights reserved.
</div>

        </div>
    </body>
</html>
